@font-face {
	font-family: 'Calibri';
	src: url(../../asset/font/Uvf-calibri.ttf);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Calibri';
	src: url(../../asset/font/Uvf-calibrib.ttf);
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Calibri';
	src: url(../../asset/font/Uvf-calibrii.ttf);
	font-style: italic;
	font-weight: 400;
}
body{
	font-size: 14px;
	font-family: 'Calibri', sans-serif;
	color: #5e5e5e;
}
.youtube {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.container-map iframe, .map-container iframe{
	width: 100%;
	height: 400px;
}
.contact-map iframe{
	width: 100%;
	height: 400px;
}
.description-detail img{
	max-width: 100% !important;
	height: auto !important;
}
.container{
	max-width: 900px;
}
a {
	-webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease;
	color: #5e5e5e
}
a:hover, a:focus {
	text-decoration: none;
	color: #E22126;
	outline: none;
}
.row{
	margin-left: -10px;
	margin-right: -10px;
}
[class*="col-xs-"] {
	padding-left: 10px;
	padding-right: 10px;
}
.col-md-20{
	width: 20%;
}
header {
	background: #2d2d2d;
	z-index: 100;
	position: relative;
}
nav {
	background: #f2f2f4;
	z-index: 100;
	position: relative;
}
.logo-header {
	padding: 7px 0;
}
.logo-header img {
	max-height: 46px;
}
.header-top {
	position: relative;
}
.form-select-language {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.tp-bannertimer{
	display: none;
}
#slideshow {
	position: relative;
	overflow: hidden;
}
#slideshow .box-info{
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);
}
#slideshow .box-info .content {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
#slideshow .box-info .content *{
	color: #fff;
}
.main-nav li {
	float: left;
}
.main-nav > li > a {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	padding: 0 12px;
	display: block;
	line-height: 60px;
	font-weight: normal;
	position: relative;
}
nav .main-nav > li > a {
	color: #5e5e5e;
	font-size: 15px;
	padding: 0 12px;
	position: relative;
}
nav .main-nav > li > a.active:after, header .main-nav > li > a.active:after{
	content: '';
	position: absolute;
	left: 12px;
	bottom: 15px;
	width: calc(100% - 24px);
	height: 0;
	border-bottom: 2px solid #E22126;
}
.registration-menu a.active:after {
	display: none !important;
}
.registration-menu a.active {
	border: 1px solid #E22126 !important;
}
.main-nav li a img {
	max-height: 49px;
}
.main-nav > li.has-sub > ul, .main-nav > li.has-sub form ul {
	position: absolute;
	background: #f2f2f4;;
	opacity: 0;
	visibility: hidden;
	min-width: 190px;
	-webkit-transition: all .2s ease; -moz-transition: all .2s ease; -ms-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease;
	max-width: 350px;
	top: 100px;
}
.main-nav > li.has-sub > ul ul{
	position: absolute;
	background: #f2f2f4;;
	opacity: 0;
	visibility: hidden;
	min-width: 190px;
	-webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease;
	left: calc(100% - 1px);
}
.main-nav > li.has-sub:hover > ul, .main-nav > li.has-sub:hover form ul {
	opacity: 1;
	visibility: visible;
	top: 60px;
}
/*.main-nav > li li{*/
/*position: relative;*/
/*}*/
.main-nav > li li:hover ul {
	opacity: 1;
	visibility: visible;
	top: 0;
}
.main-nav > li.has-sub ul li{
	float: none;
}
.main-nav > li.has-sub ul li a{
	padding: 7px 20px;
	font-size: 15px;
	text-transform: none;
	color: #5e5e5e;
	border: 1px solid #2d2d2d;
	display: block;
	position: relative;
	margin-top: -1px;
}
.main-nav li:hover a {
	color: #E22126;
}
.main-nav li:hover li:hover a {
	color: #E22126 !important;
}
header ul {
	margin: 0;
}
nav ul {
	margin: 0;
}
.registration-menu a {
	border: 1px solid #5e5e5e;
	line-height: 30px !important;
	border-radius: 8px;
	position: relative;
	top: 14px;
	margin-left: 10px;
	padding: 0 6px !important;
}
section.box{
	padding: 50px 0;
	overflow: hidden;
}
.box .box-title, .box-heading, .heading-title {
	font-size: 18px;
	position: relative;
	margin: 0;
	text-transform: uppercase;
}
.box .box-title span, .box-heading span, .heading-title span{
	padding-bottom: 8px;
	margin-bottom: 22px;
	display: block;
	position: relative;
}
.box .box-title span > strong, .box-heading span > strong{
	font-family: 'Calibri', sans-serif;
	font-weight: 400;
	font-size: 19px !important;
}
.box .box-title span:after, .box-heading span:after, .heading-title span:after{
	position: absolute;
	content: '';
	width: 70px;
	border-bottom: 2px solid #E22126;
	bottom: 0;
	left: 0;
}
.box .box-title span.gray:after, .box-heading span.gray:after, .heading-title span.gray:after{
	border-bottom: 2px solid #5e5e5e;
}
.box .box-title.text-center span:after, .box-heading.text-center span:after, .heading-title.text-center span:after{
	left: 50%;
	-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);
}
.box-title.red, .heading-title.red, .box-heading.red{
	color: #E22126;
}
.box-title.black, .heading-title.black, .box-heading.black{
	color: #000;
}
.fwb {
	font-weight: bold;
}
.fwn {
	font-weight: normal;
}
.box-heading{
	margin-top: 30px;
}
.btn-primary {
	color: #fff;
	background: #E22126;
	border-color: #E22126;
	padding: 5px 20px;
	border-radius: 0;
	-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;
	display: inline-block;
	margin: 10px 0;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #aa191c !important;
	border-color: #aa191c !important;
}
.box-risks{
	background-color: #f2f2f4;
}
.box-risks .number{
	font-size: 45px;
}
.box-risks .info{
	background: #fff;
	padding: 8px;
}
.box-risks .info .title span{
	padding-bottom: 12px;
	margin-bottom: 15px;
	display: block;
	position: relative;
	font-size: 16px;
}
.box-risks .item{
	margin-bottom: 20px;
}
.box-risks .info .title span:after{
	position: absolute;
	content: '';
	width: 70px;
	border-bottom: 2px solid #E22126;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);
}
.box-introduce-sub .description-sub{
	font-size: 19px;
	margin: 10px 0;
}
.box-testimonial .description{
	font-size: 19px;
	margin: 0 0 15px;
}
.box-testimonial img{
	border-radius: 50%;
}
.box-testimonial .title{
	text-transform: uppercase;
	font-size: 14px;
	color: #000;
	margin: 0 0 3px 0;
}
.box-testimonial .info span{
	font-size: 13px;
	display: block;
	margin-bottom: 10px;
	color: #000;
}
.box-testimonial .item{
	margin-bottom: 15px;
	padding: 0 30px;
}
.owl-prev, .owl-next{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);
}
.owl-prev{
	left: -50px;
}
.owl-next{
	right: -50px;
}
.box-project-categories .owl-prev{
	left: 10px;
}
.box-project-categories .owl-next{
	right: 10px;
}
.mb-35{
	margin-bottom: 35px !important;
}
.img img{
	-webkit-transition: all .4s ease;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;
}
.img:hover img{
	opacity: .8;
}
.box-news-featured{
	background-color: #f2f2f4;
}
.box-news-featured .news-item{
	margin-bottom: 20px;
}
.box-news-featured .title a{
	color: #2d2d2d;
	text-transform: uppercase;
	font-size: 13px;
	padding: 10px 0;
}
.box-news-featured .title:hover a{
	color: #E22126;
}
footer{
	color: #ddd;
	background: #2d2d2d;
	border-top: 15px solid #E22126;
	padding: 40px 0;
}
footer a{
	color: #ddd;
}
footer h2{
	margin-top: 0 !important;
	font-size: 16px !important;
}
footer h2 span{
	margin-bottom: 15px !important;
}
footer .list-social a{
	font-size: 16px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid #ddd;
	display: inline-block;
	text-align: center;
	padding-top: 3px;
	margin: 0 2px;
}
footer .showroom-item{
	margin-bottom: 8px;
}
footer .showroom-item p{
	margin-bottom: 0;
}
footer .showroom-item p i{
	margin-right: 5px;
}
footer .showroom-item .name{
	font-weight: bold;
}
.w-70 {
	width: 70%;
	margin: 0 auto;
}
.owl-theme .owl-dots .owl-dot span {
	width: 18px;
	height: 18px;
	margin: 5px 2px;
	background: #ED8167;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
	border: 3px solid #fff;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #fff;
	padding: 1px;
	border: 1px solid #E22126;
	width: 18px;
	height: 18px;
	position: relative;
}
.box-carousel .owl-theme .owl-dots .owl-dot span, .box-product-all .owl-theme .owl-dots .owl-dot span{
	border: 3px solid #EEF0EF;
}
.box-carousel .owl-theme .owl-dots .owl-dot.active span, .box-carousel .owl-theme .owl-dots .owl-dot:hover span,
.box-product-all .owl-theme .owl-dots .owl-dot.active span, .box-product-all .owl-theme .owl-dots .owl-dot:hover span {
	background: #EEF0EF;
	border: 1px solid #E22126;
}
.owl-theme .owl-dots .owl-dot.active span:before, .owl-theme .owl-dots .owl-dot:hover span:before {
	background: #E22126;
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	top: 2px;
	left: 2px;
	border-radius: 50%;
}
.owl-theme .owl-nav [class*=owl-] {
	background: transparent !important;
}
.owl-prev img, .owl-next img {
	width: 32px;
}
.owl-prev img:hover, .owl-next img:hover {
	filter: brightness(0);
}
.box-project-categories .owl-prev img, .box-project-categories .owl-next img {
	filter: brightness(0) invert(1);
}
.tparrows {
	display: none;
}
h1.heading-title {
	font-size: 25px;
}
.box-category-space{
	position: relative;
	text-align: center;
}
.box-category-space ul{
	margin: 0;
	display: inline-block;
}
.box-category-space ul li{
	list-style: none;
	display: inline-block;
}
.box-category-space ul li a{
	display: block;
	background: #D8E3C3;
	padding: 11px 7px 11px 26px;
	border: 4px solid #EFF1EE;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
}
.box-category-space ul li a:after{
	position: absolute;
	content: '';
	height: 28px;
	width: 0;
	background: #D8E3C3;
	padding: 21px 0 21px 24px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 4px solid #EFF1EE;
	border-left: 0;
	top: -4px;
	right: -25px;
	z-index: 1;
}
.box-category-space ul li:first-child a{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.box-category-space ul li a.active, .box-category-space ul li a.active:after {
	background: #E22126;
	color: #fff;
}
.box-category-space {
	margin-bottom: 40px;
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 0;
	line-height: 1.42857143;
	color: #E22126;
	text-decoration: none;
	background-color: #fff;
	border: none;
	font-size: 19px;
	width: 35px;
	height: 35px;
	text-align: center;
	padding-top: 3px;
	margin: 0px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	z-index: 2;
	color: #fff;
	background-color: #E22126;
	border-color: transparent;
	border-radius: 50%;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius: 50%;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	border-radius: 50%;
	background-color: #E22126;
	border-color: #E22126;
}
.space-box-main {
	padding-bottom: 30px;
}
.img-addition{
	margin-top: 20px;
}
.space-box-main-body .title{
	text-transform: uppercase;
	font-size: 18px;
	padding: 0;
	margin-bottom: 10px;
}
.news-item{
	margin-bottom: 20px;
}
.news-item h4{
	margin: 0;
	color: #2d2d2d;
}
.news-item h4 a{
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
	color: #000;
	text-transform: uppercase;
}
.news-item span{
	font-size: 13px;
	color: #aaa;
}
.news-item h4 a:hover{
	color: #E22126;
}
.box-video .item{
	position: relative;
	margin-bottom: 20px;
}
.box-video .item h4{
	position: absolute;
	width: 100%;
	padding: 10px;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0, .5);
	margin: 0;
	color: #fff;
}
.lightgallery-youtube{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	background: rgba(0,0,0,.2);
}
.lightgallery-youtube a{
	position: absolute;
	width: 100%;
	top: 30%;
	text-align: center;
	color: #fff;
	font-size: 35px;
}
.lightgallery-youtube a:hover{
	-webkit-transform: scale(1.4);-moz-transform: scale(1.4);-ms-transform: scale(1.4);-o-transform: scale(1.4);transform: scale(1.4);
}
.mb-25 {
	margin-bottom: 25px;
}
.contact-page-form input, .contact-page-form textarea {
	background: #f2f2f4;
	border: none;
	margin-bottom: 10px;
	font-size: 14px;
	border-radius: 10px;
}
.contact-page-form input {
	height: 35px !important;
}
.contact-page-form textarea {
	height: 147px;;
	margin-bottom: 0;
}
.contact-page-form .info {
	margin-bottom: 15px;
}
.contact-page-form .submit-form {
	margin-top: 0;
	background: #E22126;
	outline: none;
}
.contact-page-wrap .row{
	margin-left: -5px;
	margin-right: -5px;
}
.form-control{
	box-shadow: 0 0 0 !important;
}
.contact-page-wrap div[class*='col-']{
	padding-left: 5px;
	padding-right: 5px;
}
.contact-map {
	margin: 20px 0;
}
.box-agency{
	padding-top: 0 !important;
}
#map-wrap {
	width: 100%;
	height: 400px;
}
.agency-search {
	background: #E22126;
	margin-bottom: 30px;
}
.agency-search .search-head{
	padding: 20px 20px 15px 20px;
	height: 150px;
}
.agency-search h3{
	text-transform: uppercase;
	font-size: 17px;
	color: #fff;
	margin: 0 0 10px 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #fff;
	text-align: center;
}
.box-agency-wrap .row{
	margin: 0;
}
.box-agency-wrap .row [class*="col-"]{
	padding: 0;
}
.box-agency-wrap select{
	margin-bottom: 5px;
	border: none;
}
#box-result {
	background: #D8E3C3;
	height: 250px;
	overflow: auto;
}
#box-result .agency-item{
	padding: 10px 20px;
	border-bottom: 1px solid #fff;
}
#box-result .agency-item *{
	color: #000;
}
#box-result .agency-item h4{
	margin: 0 0 2px 0;
	text-transform: uppercase;
	font-size: 15px;
}
#box-result .agency-item p{
	margin-bottom: 2px;
	line-height: 15px;
}
#box-result::-webkit-scrollbar {
	width: 5px;
}
#box-result::-webkit-scrollbar-track {
	background: #E22126;
}
#box-result::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 10px;
}
.box-categories-news {
	background-color: #f2f2f4;
}
.box-categories-news .category-item{
	position: relative;
}
.box-categories-news .category-item .info{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	-webkit-transition: all .4s ease;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;
	height: 100%;
}
.box-categories-news .category-item .info p{
	margin: 0;
}
.box-categories-news .category-item .info p span{
	background: #E22126;
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	margin-bottom: 5px;
}
.box-categories-news .category-item .info p a{
	display: block;
	padding: 10px;
	color: #fff;
	background: rgba(0,0,0, .5);
	min-height: 60px;
}
.box-categories-news .category-item:hover .info{
	background: rgba(0,0,0, .5);
}
.box-categories-news .category-item .title{
	-webkit-transition: all .4s ease;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;
	width: 100%;
	bottom: 0;
	position: absolute;
}
.box-categories-news .category-item:hover .title{
	bottom: 50%;
	-webkit-transform: translateY(50%);-moz-transform: translateY(50%);-ms-transform: translateY(50%);-o-transform: translateY(50%);transform: translateY(50%);
}
.box-categories-news .category-item:hover .info p a{
	background: transparent;
}
.box-featured-page-news .news-wrap .first {
	position: relative;
}
.box-featured-page-news .news-wrap .first .info{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 100%;
	background: rgba(0,0,0, .5);
}
.box-featured-page-news .news-wrap .first .info *{
	color: #fff;
}
.box-featured-page-news .news-wrap .title a{
	font-size: 18px;
}
.box-featured-page-news .news-wrap .first .title a{
	font-size: 21px;
}
.box-featured-page-news .news-wrap .first .title{
	position: absolute;
	width: 100%;
	padding: 10px;
	left: 0;
	bottom: 0;
}
.box-follow {
	margin-bottom: 30px;
}
.box-follow a{
	display: block;
	position: relative;
	margin-bottom: 10px;
}
.box-follow a i{
	width: 33px;
	height: 33px;
	border: 1px solid #E22126;
	border-radius: 50%;
	text-align: center;
	font-size: 22px;
	padding-top: 4px;
	margin-right: 5px;
	position: relative;
	top: 3px;
}
.box-follow a span{
	color: #2d2d2d;
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
}
.box-follow a span + span{
	position: absolute;
	right: 0;
	top: 7px;
	border: 1px solid #f2f2f4;
	padding: 2px 5px;
}
.video-wrap {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #779743;
}
.video-wrap .light-youtube{
	position: relative;
	margin-bottom: 10px;
}
.video-wrap .light-youtube a{
	display: block;
	background: #000;
}
.video-wrap .light-youtube a img{
	opacity: .7;
}
.video-wrap .light-youtube i{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	font-size: 50px;
	color: #fff;
	transform: translateY(-50%);
	text-align: center;
	-webkit-transition: all .4s ease;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;
}
.video-wrap .light-youtube a:hover i{
	font-size: 60px;
}
.box-news-option-one .news-item{
	position: relative;
}
.box-news-option-one .news-item .description{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	-webkit-transition: all .4s ease;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;
}
.box-news-option-one .news-item .description p{
	margin: 0;
}
.box-news-option-one .news-item .description span{
	background: #E22126;
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	margin-bottom: 5px;
}
.box-news-option-one .news-item .description a{
	background: rgba(0,0,0, .5);
	display: block;
	padding: 10px;
	color: #fff;
	font-size: 23px;
	font-weight: normal;
}
.box-news-option-one .news-item .info{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 100%;
	-webkit-transition: all .4s ease;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;
}
.box-news-option-one .news-item:hover .info{
	background: rgba(0,0,0, .5);
}
.box-news-option-one .news-item:hover .description a{
	background: transparent;
}
.box-news-option-one .news-item:hover .description{
	bottom: 50%;
	-webkit-transform: translateY(50%);-moz-transform: translateY(50%);-ms-transform: translateY(50%);-o-transform: translateY(50%);transform: translateY(50%);
}
.box-news-option-one .news-item, .box-news-option-two .news-item{
	margin-bottom: 20px;
}
.box-news-option-one, .box-news-option-two {
	padding-top: 0 !important;
}
.box-news-option-two .info a{
	display: block;
	padding: 10px 0;
	font-size: 17px;
	color: #000;
}
.box-news-option-two .info a:hover{
	color: #E22126;
}
.box-news-option-two .box-banner{
	margin-top: 20px;
}
.box-latest-page-news .box-banner, .box-latest-page-news .box-search{
	margin-bottom: 15px;
}
.box-news-latest-more{
	margin-top: 20px;
}
.box-news-latest-more h4{
	margin: 0;
}
.box-news-latest-more a{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	display: block;
	font-size: 16px;
}
.box-news-latest-more h4:last-child a{
	border-bottom: 0;
}
.wds-search-header{
	position: relative;
}
.wds-search-header input{
	width: 100%;
	height: 34px;
	border: 1px solid #E22126;
	border-radius: 20px;
	padding: 0 10px;
}
.wds-search-header button{
	height: 34px;
	color: #fff;
	background: #E22126;
	position: absolute;
	top: 0;
	border: none;
	right: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 0 10px;
	outline: none;
}
.box-search-news input{
	max-width: 350px;
	height: 34px;
	border: 1px solid #E22126;
	border-radius: 0;
	padding: 0 10px;
}
.box-categories-news .category-item {
	margin-bottom: 20px;
}
footer .showroom > a, footer .showroom > span{
	margin-bottom: 10px;
	display: inline-block;
}
.color-white {
	color: #efefef;
}
.color-gray {
	color: #5e5e5e;
}
.box-about .item{
	background: #f2f2f4;
	padding: 15px 0 0;
	-webkit-transition: all .8s ease;-moz-transition: all .8s ease;-ms-transition: all .8s ease;-o-transition: all .8s ease;transition: all .8s ease;
}
.box-about .item .info{
	padding: 15px 20px 5px 20px;
}
.box-about .item .title{
	margin: 10px 0 0 0;
}
.box-about .item .title a{
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	padding: 7px 0;
	background: #E22126;
	color: #fff;
}
.box-about .item-0, .box-about .item-2{
	margin-top: 30px;
}
.box-about .item img{
	-webkit-transition: all .8s ease;-moz-transition: all .8s ease;-ms-transition: all .8s ease;-o-transition: all .8s ease;transition: all .8s ease;
}
.box-about .item:hover{
	box-shadow: 0 0 18px 10px rgba(0,0,0, .8);
}
.box-about .item:hover img{
	-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);
	filter: brightness(1) invert(1);
}
.box-people .img{
	float: left;
	border-radius: 50%;
	overflow: hidden;
	shape-outside: circle();
	margin: 10px 30px 10px 0;
}
.box-carousel {
	background: #EEF0EF;
}
.box-carousel .info{
	padding-top: 20px;
}
.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
}
.box-why-choose *{
	color: #efefef;
}
.box-why-choose h4{
	margin: 0 0 5px 0;
}
.box-why-choose p{
	margin: 0;
}
.box-why-choose .item{
	margin-bottom: 30px;
}
.box-product-featured .item{
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.box-product-featured .item .info{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 100%;
}
.box-product-featured .item .info a{
	color: #fff;
	text-transform: uppercase;
	display: block;
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	padding: 5px 12% 20px 12%;
	background: rgba(0,0,0,.3);
}
.box-product-featured .item a.overlay{
	color: #fff;
	text-transform: uppercase;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: 1;
}
.box-product-featured .item:hover .info a{
	bottom: 50%;
	-webkit-transform: translateY(50%);-moz-transform: translateY(50%);-ms-transform: translateY(50%);-o-transform: translateY(50%);transform: translateY(50%);
	z-index: 2;
	color: #fff;
	background: transparent;
	padding-bottom: 0;
}
.box-product-featured .item:hover a.overlay{
	background: rgba(0,0,0,.6);
}
.box-space-option .item{
	position: relative;
}
.box-space-option .item .info{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 100%;
}
.box-space-option .item .info a{
	color: #fff;
	text-transform: uppercase;
	display: block;
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	padding: 15px;
	background: rgba(0,0,0,.3);
}
.box-space-option .item a.overlay{
	color: #fff;
	text-transform: uppercase;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.box-space-option .item:hover .info a{
	bottom: 50%;
	-webkit-transform: translateY(50%);-moz-transform: translateY(50%);-ms-transform: translateY(50%);-o-transform: translateY(50%);transform: translateY(50%);
	z-index: 2;
	color: #fff;
	background: transparent;
	padding-bottom: 0;
}
.box-space-option .item:hover a.overlay{
	background: rgba(0,0,0,.6);
}
footer .showroom .showroom-item{
	font-size: 12px;
}
footer .showroom span{
	text-transform: uppercase;
	margin-bottom: 5px;
	display: block;
}
.footer-logo img{
	max-width: 180px;
	margin-top: 20px;
}
.space-ecosytem .item{
	margin-bottom: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.space-box-main-body .img-addition .item img{
	border-radius: 50%;
}
.space-box-main-body .owl-dots {
	display: none;
}
.box-testimonial img{
	border-radius: 50%;
}
.box-product-all .product-item{
	margin-bottom: 20px;
}
.box-product-all .product-item img{
	border-radius: 35px;
	filter: grayscale(100%);
}
.box-product-all .product-item:hover img{
	border-radius: 0;
	filter: grayscale(0);
}
.box-product-all {
	background-color: #f2f2f4;
}
.box-product-all .product-item .info a{
	text-transform: uppercase;
	color: #000;
	display: block;
	padding: 5px 0;
	font-size: 16px;
}
.contact-page-info .ct-info{
	background-color: #F2F2F4;
	min-height: 160px;
	margin-bottom: 20px;
	color: #000;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	font-weight: bold;
}
.contact-page-info .ct-info > div{
	width: 100%;
}
.contact-page-info .ct-info img{
	display: block;
	height: 30px;
	margin: 0 auto 8px auto;
}
.contact-page-info .ct-info span{
	display: block;
	margin-bottom: 2px;
}
.contact-page-info .ct-info span{
	display: block;
	margin-bottom: 2px;
}
.contact-page-info .ct-info{
	background-size: 120px auto;
	background-repeat: no-repeat;
	background-position: bottom left;
}
.contact-page-info .ct-email{
	background-image: url("../img/contact-envelope.png");
}
.contact-page-info .ct-phone{
	background-image: url("../img/contact-phone.png");
}
.contact-page-info .ct-map{
	background-image: url("../img/contact-map.png");
}
.contact-page-form {
	border: 2px solid #f2f2f4;
	border-radius: 4px;
	padding: 12px;
}
.contact-page-form p{
	margin-bottom: 5px;
}
.enquiry-wrap{
	position: relative;
}
.enquiry-wrap .submit-form{
	position: absolute;
	right: 0;
	bottom: -10px;
	background: #f2f2f4;
	border: 3px solid #fff;
	border-bottom: 0;
	border-right: 0;
	color: #E22126;
	font-weight: bold;
	border-radius: 0;
	text-transform: uppercase;
}
.enquiry-wrap .submit-form:hover {
	color: #fff !important;
	background: #E22126 !important;
	border-color: #E22126 !important;
}
.product-box-main-body {
	padding: 50px 0;
}
.product-box-main-body .owl-dots{
	display: none;
}
.owl-dots-none .owl-dots{
	display: none;
}
.product-box-main-body .right-column .title{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	margin-bottom: 8px;
	color: #000;
}
.product-box-related {
	background: #f2f2f4;
	padding: 50px 0;
}
.product-box-related .product-item:hover img{
	border-radius: 30px;
}
.product-box-related .product-item a{
	display: block;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
}
.mt-0 {
	margin-top: 0 !important;
}
.box-project-categories {
	padding: 0 !important;
}
.box-project-categories .banner-info{
	position: absolute;
	left: 0;
	top: 45%;
	-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: #fff;
}
.box-project-categories .banner-info h2{
	text-transform: uppercase;
	font-size: 50px;
	margin: 0 0 10px 0;
}
.box-project-categories .banner-info p{
	margin: 0;
}
.box-project-categories .banner {
	position: relative;
}
.box-project-categories .banner img{
	width: 100%;
}
.box-project-categories .categories{
	position: relative;
	top: -110px;
}
.box-project-categories .categories .item{
	border: 8px solid #fff;
}
.box-project-categories .categories .item .info a {
	padding: 10px 10% 30px 10%;
}
.box-service-featured {
	padding-top: 0 !important;
	color: #000;
	position: relative;
	margin-top: -50px;
}
.box-service-featured .item .row, .box-service-featured .item .row div[class*='col-'] {
	margin: 0;
	padding: 0;
}
.box-service-featured .item .info-wrap {
	background: #f2f2f4;
}
.box-service-featured .item .info {
	padding: 20px;
}
.box-service-featured .item .info .box-title{
	text-transform: none;
	margin-bottom: 10px;
}
.box-project-category-page {
	margin-bottom: 30px;
}
.box-project-category-page .project-item {
	margin-bottom: 20px;
}
.box-project-category-page .project-item img{
	border-top-right-radius: 70px;
	border-bottom-left-radius: 70px;
}
.box-project-category-page .project-item:hover img{
	border-radius: 10px;
}
.box-project-category-page .project-item .info a{
	display: block;
	padding: 5px 0;
}
.project-box-main-body .box-preview, .project-box-main-body {
	margin-bottom: 40px;
}
.pd-50 {
	padding: 50px 0;
}
.service-box-related  .service-item, .news-box-related  .news-item {
	margin-bottom: 20px;
}
.service-box-related  .service-item .btn, .news-box-related  .news-item .btn{
	margin: 0;
	padding: 0px 10px;
}
.pl-0 {
	padding-left: 0;
}
.service-box-related  .service-item .title, .news-box-related  .news-item .title{
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 18px;
}
.box-news-by-category-1 .info a, .box-news-by-category-3 .info a.title{
	color: #000;
	margin-bottom: 5px;
	display: block;
	font-size: 16px;
	padding: 8px;
	font-weight: bold;
	line-height: 19px;
}
.box-news-by-category-1 .info a:hover, .box-news-by-category-3 .info a.title:hover{
	color: #E22126;
}
.box-news-by-category-2, .box-news-latest{
	background-color: #f2f2f4;
}
.box-news-by-category-2 .item{
	position: relative;
}
.box-news-by-category-2 .item .info{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background: rgba(0,0,0,.5);
}
.box-news-by-category-2 .item .info > div{
	width: 100%;
}
.box-news-by-category-2 .item .info a.title{
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin-bottom: 6px;
}
.box-news-by-category-2 .item .info a.btn{
	padding: 1px 10px;
}
.box-news-by-category-3 img {
	border-radius: 50%;
}
.box-news-by-category-3 .item:hover img {
	border-radius: 50px;
}
.box-news-by-category-3 .item {
	margin-bottom: 25px;
}
.box-news-latest .item {
	margin-bottom: 4px;
	position: relative;
}
.box-news-latest .item .info{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 100%;
}
.box-news-latest .item a.overlay{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 100%;
	display: block;
	z-index: 1;
}
.box-news-latest .item .info a{
	color: #fff;
	display: block;
	padding: 10px;
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	background: rgba(0,0,0,.3);
}
.box-news-latest .item:hover a{
	bottom: 50%;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	z-index: 2;
	background: transparent;
	padding-bottom: 0;
}
.box-news-latest .item:hover a.overlay{
	background: rgba(0,0,0,.6);
}
.box-news-latest .item-center .info a{
	font-size: 20px;
}
.box-news-latest .row {
	margin-left: -2px;
	margin-right: -2px;
}
.box-news-latest .row div[class*="col-"]{
	padding-left: 2px;
	padding-right: 2px;
}
.news-tags, .news-tags *{
	font-size: 15px;
	color: #000;
	font-weight: bold;
}
.news-tags a:hover{
	color: #E22126;
}
.sidebar {
	margin-bottom: 30px;
}
.sidebar-box-news-featured .title{
	margin-top: 8px;
}
.box-product-featured .categories {
	display: none;
}
.slide-title {
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
}
.slide-description {
	font-size: 17px;
	color: #fff;
}
.slide-description span.border{
	width: 80px;
	height: 2px;
	background: #fff;
	display: inline-block;
	position: relative;
	top: -3px;
}
.slide-description > span.border{
	margin-right: 15px;
}
.slide-description  span + span + span{
	margin-left: 15px;
}
.slide-link a{
	display: inline-block;
	border: 2px solid #fff;
	padding: 7px 35px;
	text-transform: uppercase;
	color: #fff;
}
.slide-link a:hover{
	color: #E22126;
	background: #fff;
}
.slider-overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
}
.box-carousel .img{
	padding: 10px;
}
.box-carousel .item:hover img{
	-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1);
	box-shadow: 0 0 5px 0 rgba(0,0,0, .3);
}
footer .container {
	max-width: 1200px;
}
footer .f-right {
	font-size: 13px;
	margin-top: 20px;
}
@media screen and (min-width: 992px) {
	.col-md-20 {
		width: 20%;
	}
	.contact-map iframe{
		height: 160px;
	}
	.product-box-main-body .right-column{
		min-height: 425px;
		position: relative;
		padding-bottom: 140px;
	}
	.product-box-main-body .right-column #slide-thumbs{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}
@media screen and (min-width: 768px) {
	header{
		background: transparent;
		z-index: 100;
		position: absolute;
		width: 100%;
		top: 0;
	}
	.box-service-featured .item.left {
		padding-right: 80px;
	}
	.box-service-featured .item.right {
		padding-left: 80px;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	nav .main-nav > li > a {
		padding: 0 8px;
	}
	.main-nav > li > a {
		color: #fff;
		padding: 0 8px;
	}
}
@media screen and (max-width: 767px) {
	.logo-header, .main-nav, .main-nav li {
		float: none !important;
	}
	.menu-mobile {
		border: 1px solid #E22126;
		padding: 7px 10px;
		border-radius: 3px;
	}
	.menu-mobile i{
		margin-right: 5px;;
	}
	.main-nav > li > a {
		font-size: 17px;
		padding: 10px 0;
		line-height: unset !important;
	}
	.registration-menu a {
		border: none !important;
		line-height: unset !important;
		position: relative;
		top: 0 !important;
		margin-left: 0 !important;
	}
	.main-nav > li.has-sub > ul, .main-nav > li.has-sub form ul{
		opacity: 1;
		visibility: visible;
		position: static;
		background: transparent;
	}
	.main-nav {
		display: none;
	}
	header {
		padding-bottom: 10px;
	}
	.col-md-20 {
		width: 100%;
	}
	.box-introduce-sub img, footer img, footer .list-social{
		margin-bottom: 20px;
	}
	.box-mission-about .time {
		position: relative;
		top: 0;
	}
	section.box {
		padding: 30px 0;
		overflow: hidden;
	}
	.box-mission-about .youtube {
		margin-left: 0;
	}
	.box-mission-about .mission .item .img {
		display: none !important;
	}
	.box-mission-about .mission .item .info {
		position: static;
		height: 100%;
		background: #E22126;
		color: #fff;
		width: 100%;
		float: none !important;
		padding: 10px;
	}
	.box-mission-about .mission .item.left .info:before, .box-mission-about .mission .item.left .info:after, .box-mission-about .mission .item.right .info:before, .box-mission-about .mission .item.right .info:after{
		display: none;
	}
	.nav-tabs>li {
		margin-bottom: 10px;
	}
	.box-design-furniture .number span {
		font-size: 20px;
	}
	.box-design-furniture .description-detail {
		margin-bottom: 20px;
	}
	.w-70 {
		width: 100%;
	}
	.box-commit-furniture .box-video .info .w-70{
		display: none;
	}
	.box-category-space ul li a {
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}
	.owl-nav {
		display: none;
	}
	.box-category-space ul{
		padding: 0 28px 0 0;
	}
	.space-box-main-body, .box-space {
		overflow: hidden;
	}
	.box-news-option-one .news-item .description a {
		font-size: 20px;
	}
	header {
		display: block;
		background: #f2f2f4;
	}
/*	nav {
		display: none;
	}*/
	.text-center-xs {
		text-align: center;
	}
	.box .box-title.text-center-xs span:after, .box-heading.text-center-xs span:after, .heading-title.text-center-xs span:after {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	footer .showroom .showroom-item {
		font-size: 14px;
	}
	.main-nav a {
		color: #5e5e5e !important;
	}
	.main-nav > li.has-sub ul li a {
		border: none;
	}
	.box-about, .box-why-choose {
		background: #fff !important;
	}
	.box-why-choose img{
		filter: brightness(1) invert(.5);
	}
	.box-why-choose *, .box-why-choose .color-white, .box-about .color-white{
		color: #5e5e5e !important;
	}
	.box-about .item-0, .box-about .item-2 {
		margin-top: 0;
	}
	.box-about .item{
		margin-bottom: 20px;
	}
	.showroom .row .col-xs-12{
		margin-bottom: 20px;
	}
	.footer-logo img {
		margin: 20px auto;
	}
	.box-service-featured .item{
		margin-bottom: 20px;
	}
	.box-project-category-page .project-item img {
		border-radius: 5px;
	}
	.space-box-main-body .title{
		margin-top: 25px;
		font-weight: bold;
		text-align: center;
	}
	.col-md-20 {
		width: 50%;
	}
	.box-testimonial img {
		max-width: 200px;
		margin-bottom: 20px;
	}
	.box-product-all .product-item img {
		border-radius: 10px;
	}
	.product-box-main-body .right-column .title{
		margin-top: 25px;
		font-weight: bold;
		text-align: center;
	}
	.box-news-latest .item-center .info a {
		font-size: 14px;
	}
	.box-product-featured .item .info a{
		padding: 5px 14% 25px 14%;
	}
	.box-testimonial .title, .box-testimonial .title + span {
		text-align: center;
	}
	nav .main-nav > li > a.active:after, header .main-nav > li > a.active:after {
		/*display: none;*/
	}
	.form-select-language {
		top: 20px;
		transform: unset;
	}
}